<ul>
  {{#each tabs as |tab|}}
    <li class="{{blockName}}--tab-handle">
      {{#link-to params=tab.params}}{{tab.title}}{{/link-to}}
    </li>
  {{/each}}
</ul>

<div class="tabs-content">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{outlet}}
  {{/if}}
</div>
